/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

nav {
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;

}

h1 {
    font-size: 2rem;
    text-align: center;
}

ul li:nth-child(1) {
    color: chocolate;
}

ul li:nth-child(2) {
    color: rgb(253, 237, 170);
}

ul li:nth-child(3) {
    color: rgba(227, 11, 92); 
}

ul li:nth-child(4) {
    color: burlywood;
}

ul li:nth-child(5) {
    color: mediumaquamarine;
}

ul li:nth-child(6) {
    color: rgb(255, 209, 5);
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 1080px) {

    .container {
        margin: 0 4rem;
    }

    /* Applying flex to the navigation */

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Applying flex to each navigation item */

    nav div {
        display: flex;
    }
    nav .logo {
        order: 1;
    }

    nav .nav1 {
        margin-right: auto;
    }

    nav .nav2 {
        order: 2;
        margin-left: auto; 
    }

    nav a {
        margin: 1rem;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid #000;
        padding: 2rem;
    }

    .content p {
        align-self: center;
        margin-right: 2rem;
        line-height: 2;
    }

    /* About */

    .story {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "past past-img"
        "past-p past-img"
        "past-p past-img";
        margin-top: 4rem;
    }

    .story h3 {
        grid-area: past;
    }

    .story p {
        grid-area: past-p;
        margin-top: -3rem;
    }

    .story div {
        grid-area: past-img;
    }
    

    /* Contact */


    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-info {
        margin-top: 2rem;
    }

}

/* 

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav1 {
    display: inline-block;
    position: relative;
    float: left;
}

.nav2 {
    display: inline-block;
    position: relative;
    float: right;
}

.nav1 a {
    padding: 10px;
}

.nav2 a {
    padding: 10px;
}



.content {
    padding-top: 30px;
    border: 1px solid black;
    
}

.content p {
    margin-top: 30px;
    margin-right: 50%;
    padding: 0px 200px 0px 0px;
}

.image {
    float: right;
}

 */

