/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  starting custom styles for landing page */


html {
    font-size: 14px;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f7f7ff;
    color: #333131;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

/* creating container that has a max width upto 1360px */

.page {
    max-width: 1360px;
    margin: 0 auto;
}

h1 {
    font-size: 3.75rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.125rem;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

button {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 1rem 2rem 1.5rem;
}

header img {
    width: 100px;
}


/* using margin to the direct children of the main section */


section>div {
    margin: 0 3rem;
}


/* applying line heights to the banner text. This is done to set the distance between the lines of a text  */


.content-left h1 {
    line-height: 1.25;
}

.content-left p {
    margin: 1rem 0;
    line-height: 1.2;
}


/* setting up styles for the contact form */


.form {
    padding: 2rem;
    margin: 2rem 2rem 3rem;
    box-shadow: 5px 10px 15px rgba(51, 49, 49, 0.4);
    border-radius: 26px;
    background-color: white;
}

.form h2 {
    font-weight: 700;
}

.form p {
    margin: 1rem 0;
}

.start {
    display: none;
}

.form form {
    display: flex;
    flex-direction: column;
}


/* using :nth-child() selector to select random div in the form */


.form form div:nth-child(1) {
    order: -3;
}

.form form div:nth-child(2) {
    order: -2;
}

.form form div:nth-child(4) {
    order: -1;
}

.form form p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0.75rem auto;
    text-align: center;
}

.form input {
    padding: 1rem;
    width: 100%;
    display: block;
    border-radius: 11px;
    margin: 0.5rem 0;
    border: none;
    background-color: #F4F4F5;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

#checkbox {
    margin: 1rem 1rem 1rem 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


/* using flex to align the text to the center of the checkbox */


.check {
    display: flex;
    align-items: center;
}

.form button {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #57eeab;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 11px;
    transition-duration: 200ms;
}


/* using hover selector for the button in form to display a shadow when the mouse is over it */


.form button:hover {
    box-shadow: 4px 4px 24px 8px rgba(33, 165, 106, 0.2);
}

.form a {
    color: #ff8480;
}


/* adding styles to the footer section */


footer {
    background-color: #fffd8c;
    padding: 2rem 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer h3,
p {
    margin: 1rem 0;
}

.footer h3 {
    font-weight: 700;
}

.footer p {
    font-size: 1rem;
    line-height: 1.5;
} 


/* using flex to keep the inputs inline in the form inside the footer */


.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-form input {
    padding: 0.9rem;
    border-radius: 11px;
    border: none;
    width: 100%;
    font-size: 1rem;
}

.footer-form div:nth-child(1) {
    flex-basis: calc(30% - 1rem);
    margin: 0 1rem 0 0;
}

.footer-form div:nth-child(2) {
    flex-basis: calc(70% - 1rem);
    margin: 0 1rem 0 0;
}

.footer-form div:nth-child(3) {
    flex-basis: 100%;
}

.footer button {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ff8480;
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 11px;
    margin: 1rem 0;
}

.footer button:hover {
    box-shadow: 4px 4px 24px 8px rgba(156, 40, 36, 0.1);
}

.icons {
    margin-top: 1rem;
}

.icons a {
    margin: 1rem 1.5rem;
}

.icons .facebook {
    border-radius: 50%;
}


/*********** adding styles for tablet *************/



@media screen and (min-width: 640px) {
    main img {
        margin-top: -3rem;
    }

    .form {
        margin: 0 3rem 4rem;
    }

    .form form div:nth-child(3) {
        order: -1;
    }

    footer {
        flex-direction: row;
    }

    .footer-content {
        flex-basis: 100%;
    }

    .footer-form {
        align-items: center;
        justify-content: flex-start;
    }


    /* setting different widths for the inputs in the form inside the footer for the tablet version  */

    .footer-form div:nth-child(1) {
        flex-basis: calc(20% - 1rem);
    }

    .footer-form div:nth-child(2) {
        flex-basis: calc(40% - 1rem);
    }

    .footer-form div:nth-child(3) {
        flex-basis: calc(40% - 1rem);
    }
}


/*********** adding styles for desktop *************/


@media screen and (min-width: 1080px) {


    /* using grid property to the main section of the page */


    .landing {
        display: grid;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
    }


    /* sending the image behind by using z-index */


    .landing img {
        max-width: 800px;
        z-index: -1;
        margin: 0 -10rem;
    }

    .form {
        margin: 0 3rem 2rem 0;
    }

    .dot {
        display: none;
    }

    .start {
        display: inline;
    }

    footer {
        align-items: center;
        flex-wrap: nowrap;
    }

    .footer-content {
        flex-basis: 67%;
    }

    footer p {
        margin: 0.5rem 0;
    }

    .footer-form {
        margin-top: -0.5rem;
        align-items: center;
    }


    /* reseting the previous values of the form inside the footer by using flex-basis */


    .footer-form div:nth-child(1),
    .footer-form div:nth-child(2),
    .footer-form div:nth-child(3) {
        flex-basis: auto;
    }

    .icons {
        display: flex;
    }

    .icons a:nth-child(1) {
        order: 1;
    }

    .icons a:nth-child(4) {
        margin: 1rem 0 1rem 1rem;
        order: 2;
    }

    .icons .facebook {
        border-radius: initial;
    }
}